{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="content ring">
        <div class="container">
            <h1>Update my profile</h1>
        </div>

        <div class="container">
            {{ form_start(updateForm) }}
                {{ form_row(updateForm.email) }}
                {{ form_row(updateForm.username) }}
            {{ form_end(updateForm) }}
            <br />
            <div class="row justify-content-start">
                <div class="col-2">
                    <form method="GET" action="/user/resetPass"><button class="btn btn-warning">Reset Password</button></form>
                </div>
                <div class="col-2">
                    <form method="DELETE" action="/user/delete"><button class="btn btn-danger align-self-end">Delete my account</button></form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
